.blogSection {
  max-width: 100vw;
  justify-content: center;
  display: flex;
  position: relative;
}

.section {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin-bottom: 140px;
}

.h2 {
  color: var(--hero-bg-color);
  text-align: center;
  font-size: 50px;
  margin: 0px 0px 20px;
}

.h3 {
  color: var(--hero-bg-color);
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 20px;
}

.recentPosts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px 20px;
  min-width: 320px;
}

.postCard {
  margin: 15px;
  min-width: 315px;
  max-width: 400px;
  color: rgb(235, 235, 235);
  background: var(--hero-bg-color);
  border-radius: 8px;
  box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
  cursor: pointer;
}

.image {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.title {
  color: rgb(235, 235, 235);
  margin-left: 5px;
  margin-right: 5px;
}

.p {
  color: rgb(235, 235, 235);
  margin-left: 5px;
  margin-right: 5px;
}

.triangle {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.triangle svg {
  position: relative;
  display: block;
  width: calc(246% + 1.3px);
  height: 144px;
  transform: rotateY(180deg);
}

.triangle .shapeFill {
  fill: var(--hero-bg-color);
}
