.section {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
}

.headline {
  color: var(--hero-bg-color);
  text-align: center;
  cursor: pointer;
}

.allPosts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px 20px;
  min-width: 320px;
}

.post {
  margin: 5px;
  width: 300px;
  color: rgb(235, 235, 235);
  background: var(--hero-bg-color);
  border-radius: 8px;
  box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
  cursor: pointer;
}

.image {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.title {
  color: rgb(235, 235, 235);
  margin-left: 5px;
  margin-right: 5px;
}

.p {
  color: rgb(235, 235, 235);
  margin-left: 5px;
  margin-right: 5px;
}

@media screen and (min-width: 970px) {
  .post {
    margin-left: 7vw;
    margin-right: 7vw;
  }
}

@media screen and (min-width: 1380px) {
  .post {
    margin: 2vw;
  }
}
