.projectsSection {
  background: var(--hero-bg-color);
  max-width: 100vw;
  justify-content: center;
  display: flex;
  position: relative;
}

.section {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin-bottom: 140px;
}

.h2 {
  color: rgb(235, 235, 235);
  text-align: center;
  cursor: pointer;
  font-size: 50px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px 20px;
  min-width: 320px;
}

.projectCard {
  margin: 15px;
  min-width: 315px;
  max-width: 400px;
  color: var(--hero-bg-color);
  background: rgb(235, 235, 235);
  border-radius: 8px;
  box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
}

.image {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.title {
  color: var(--hero-bg-color);
  margin-left: 5px;
  margin-right: 5px;
}

.p {
  color: var(--hero-bg-color);
  margin-left: 5px;
  margin-right: 5px;
  min-height: 5rem;
  max-height: 6rem;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  margin-bottom: 10px;
  justify-content: space-evenly;
}

.sourceCode {
  border-radius: 8px;
  border: none;
  padding: 8px;
  background: turquoise;
  color: var(--hero-bg-color);
  margin-bottom: 5px;
  cursor: pointer;
}

.link {
  border-radius: 8px;
  border: none;
  padding: 8px;
  background: lightskyblue;
  color: var(--hero-bg-color);
  margin-bottom: 5px;
  cursor: pointer;
}

.triangle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  margin-bottom: -2px;
}

.triangle svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 140px;
}

.triangle .shapeFill {
  fill: #ffffff;
}
